.ant-menu-item-selected a,.ant-menu-item-active a{
    color: rgba(255,255,255,.62);
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ant-menu-item-selected a{
    color: #fff;
}
